@font-face {
    font-family:'NanumSquareR';
    src:url(../font/NanumSquareR.woff) format('woff');
}

@font-face {
    font-family:'NanumSquareB';
    src:url(../font/NanumSquareB.woff) format('woff');
}

*{margin:0px; padding:0px; box-sizing:border-box; font-family:NanumSquareB; word-break:keep-all;}
body{position:absolute; width:100%; height:100%; background:#000; overflow:hidden;}

#content_wrap{position:relative; width:100%; height:100%;}
#content{z-index:998; position:absolute; width:1000px; height:660px; top:50%; left:50%; margin:-330px 0 0 -500px; overflow:hidden; background:url(../images/content_bg.png) no-repeat; background-position:center; background-size:cover;}

/* 정오답 알림 창 */
#alert_wrap{z-index:99; display:none; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5);}
#alert_wrap #alert_correct{position:absolute; width:446px; height:418px; top:50%; left:50%; margin-top:-209px; margin-left:-223px; background:url(../images/alert_correct.png);}
#alert_wrap #alert_wrong{position:absolute; width:446px; height:418px; top:50%; left:50%; margin-top:-209px; margin-left:-223px; background:url(../images/alert_wrong.png);}
#alert_wrap #alert_re{position:absolute; width:446px; height:418px; top:50%; left:50%; margin-top:-209px; margin-left:-223px; background:url(../images/alert_re.png);}

.popup_bg{display:none; position:absolute; top:0; width:100%; height:100%; background:rgba(0,0,0,0.7); z-index:1;}
.popup_quiz_btn{position:absolute; top:50%; left:50%; margin-left:-221px; margin-top:-77px; width:443px; height:155px; background:url(../images/sudden_btn.png); cursor:pointer;}
.popup_quiz_btn:hover{background:url(../images/sudden_btn_over.png);}
.popup_quiz_wrap{display:none; position:absolute; top:50%; left:50%; margin-top:-270px; margin-left:-480px; width:960px; height:540px;  background:#fff; text-align:center;}
.popup_quiz_close{position:absolute; top:10px; right:10px; width:31px; height:31px; background:url(../images/sudden_close.png); cursor:pointer; z-index:1;}
.popup_quiz_close:hover{background:url(../images/sudden_close_over.png);}
.popup_quiz_check{position:absolute; bottom:20px; right:20px; width:170px; height:46px; background:url(../images/sudden_check.png); cursor:pointer; z-index:1;}
.popup_quiz_check:hover{background:url(../images/sudden_check_over.png);}

/**************  선긋기  ***************/
.line_quiz_wrap .question_wrap{display:table; margin:50px auto 0; width:922px; height:97px;}
.line_quiz_wrap .question_wrap .question{display:table-cell; vertical-align:middle; text-align:center; width:100%; color:#3c3c3c; font-size:30px;}

.line_area{position:absolute; top:0; left:0;}
.pointer_wrap{width:100%; height:100%;}
.draw_start, .draw_end{position:absolute; display:inline-block; width:20px; height:20px; background:#0099ff; cursor:pointer; border-radius:50%;}
.draw_start.on, .draw_end.on{background:#19be63}
#draw_start1{left:300px; top:270px;}
#draw_start2{left:300px; top:330px;}
#draw_start3{left:300px; top:390px;}
#draw_end1{left:630px; top:270px;}
#draw_end2{left:630px; top:330px;}
#draw_end3{left:630px; top:390px;}

.start_txt, .end_txt{position:absolute; display:inline-block; font-size:18px;}
#start_txt1{left:210px; top:270px;}
#start_txt2{left:210px; top:330px;}
#start_txt3{left:210px; top:390px;}
#end_txt1{left:660px; top:270px;}
#end_txt2{left:660px; top:330px;}
#end_txt3{left:660px; top:390px;}